* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #202020;
}

p {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
table td, table th {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}
table td {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}
table th {
  background-color: #1591f7;
}
table tr:nth-of-type(even) td {
  background-color: #38c2f8;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}

.mobile-header {
  display: none;
}